:root {
    --very-dark-magenta:  hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-gray-magenta: hsl(303, 10%, 53%);
    --light-gray-magenta: hsl(300, 24%, 96%);
    --white:hsl(0, 0, 100%);
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}


.grid-container {
    display: grid;
    grid-template-rows: auto auto auto;
    margin-left: 2rem;
    margin-right: 2rem;
    grid-gap: 3em;
}

.header {
    color: var(--very-dark-magenta);
    text-align: center;
}

.header h1 {
    padding-top: 2rem;
}

.header p {
    padding-top: 1rem;
    line-height: 1.5rem;
}

.star-review-section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    text-align: center;
}

.star-review-section p {
    font-size: 0.8rem;
    font-weight: 900;
    color: var(--very-dark-magenta);
}

.star-review {
    background-color: var(--light-gray-magenta);
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    grid-row-gap: 0.5rem;

}

.user-review-section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding-bottom: 5rem;
}

.user-review {
    background-color: var(--very-dark-magenta);
    border-radius: 5px;
    padding: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 1rem;
}

.user-information {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.user-information img {
    width: 40px;
    border-radius: 50px;
    grid-row: 1 / -1;
}

.user-information h3 {
    font-size: 0.9rem;
    font-weight: 900;
    color: var(--light-gray-magenta)
}

.user-information p {
    font-size: 0.9rem;
    color: var(--soft-pink);
    opacity: 80%;
}

.user-review-quote {
    font-size: 0.9rem;
    line-height: 1.3rem;
    color: var(--light-gray-magenta);
    align-self: center;
}

@media only screen and (min-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        padding: 5rem;
        height: 100vh;
    }

    .header {
        text-align: left;
    }

    .header h1 {
        font-size: 3.5rem;
    }

    .user-review-section {
        grid-column: 1 / -1;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: unset;
    }

    .user-review:nth-child(1) {
        align-self: start;
    }

    .user-review:nth-child(2) {
        align-self: center;
    }

    .user-review:nth-child(3) {
        align-self: end;
    }

    .star-review-section {
        text-align: left;
    }

    .star-review {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

}